:root {
  --today: #5b6bf821;
  --ofRange: #3537479f;
  --inRange: #d5d9ff07;
  --event: rgba(123, 136, 255, 0.288);
  --primary: #5b6cf8;
  --primaryFont: Syne, Public Sans, sans-serif;
  --activeBgColor: #5b6bf850;
  --secondaryFont: DM Sans, Public Sans, sans-serif;
  --calendar-border: #3a3d5c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rbc-today {
  background-color: var(--today) !important;
}

.rbc-off-range-bg {
  background-color: var(--ofRange) !important;
}

.rbc-event {
  background-color: var(--event) !important;
  width: 95% !important;
  margin-left: 4px !important;
  margin-bottom: 4px !important;
  position: relative;
  padding-left: 18px !important;
}

.rbc-event::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rbc-header {
  padding: 12px !important;
  text-align: left !important;
  border-color: var(--calendar-border) !important;
}

.rbc-day-bg {
  background-color: var(--inRange);
  border-color: var(--calendar-border) !important;
}
.rbc-month-row,
.rbc-month-header {
  min-width: 1100px;
}

.rbc-month-view {
  border-color: var(--calendar-border) !important;
  border-radius: 4px;
  overflow: auto;
}

.rbc-month-row,
.rbc-events-container,
.rbc-time-header-content,
.rbc-time-header,
.rbc-timeslot-group,
.rbc-time-slot {
  border-color: var(--calendar-border) !important;
}
